# Exemplo de variáveis de ambiente para o backend FinTrack
MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/fintrackapp?retryWrites=true&w=majority
JWT_SECRET=uma_chave_secreta_forte_para_dev
JWT_REFRESH_SECRET=uma_outra_chave_secreta_forte_para_dev
PORT=4000
